<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468027261948-8ttdqmlfg59brgo8um4s1kqdpo1ce4vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468027261948-8ttdqmlfg59brgo8um4s1kqdpo1ce4vt</string>
	<key>API_KEY</key>
	<string>AIzaSyCH4dZKEtwqausToNnVze9BNhc2uy1xevQ</string>
	<key>GCM_SENDER_ID</key>
	<string>468027261948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raz.MassagesApp</string>
	<key>PROJECT_ID</key>
	<string>massagesapp-1a0b8</string>
	<key>STORAGE_BUCKET</key>
	<string>massagesapp-1a0b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468027261948:ios:dedcc2e42426cef036e879</string>
	<key>DATABASE_URL</key>
	<string>https://massagesapp-1a0b8.firebaseio.com</string>
</dict>
</plist>